{% extends 'base.html.twig' %}

{% block body %}
    <h1>VerificationCall</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ verificationCall.id }}</td>
            </tr>
            <tr>
                <th>Flags</th>
                <td>{{ verificationCall.flags }}</td>
            </tr>
            <tr>
                <th>Stdoutmsg</th>
                <td>{{ verificationCall.stdoutMsg }}</td>
            </tr>
            <tr>
                <th>Stderrmsg</th>
                <td>{{ verificationCall.stderrMsg }}</td>
            </tr>
            <tr>
                <th>Errormsg</th>
                <td>{{ verificationCall.errorMsg }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if verificationCall.createdAt %}{{ verificationCall.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('verificationcall_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('verificationcall_edit', { 'id': verificationCall.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
